*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;

}
.container{
    width: 1200px;
    margin: auto;
}
/* === header section start === */
.header-section{
    background: url(./image/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-section::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: rgba(25, 46, 54, 0.753);
    z-index: -1;
}
.header-content{
 text-align: center;
}
.header-content p{
    color: #f28123;
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 14px;
}
.header-content h1{
    color: #fff;
    font-size: 64px;
    margin: 18px 0px;
    font-weight: 700;
}
.btn{
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    background: #f28123;
    padding: 12px 18px;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}
.btn:hover{
    background: #051922;
    color: #f28123;
}
.outline{
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border: 1px solid #f28123;
    padding: 12px 18px;
    color: #fff;
    border-radius: 20px;
    margin-left: 20px;
    transition: 0.5s;
}
.outline:hover{
    background: #f28123;
    border-radius: 20px;
}

/* ==== header section responsive style here ==== */
@media  only screen and (max-width: 768px) {
    .header-content h1{
        color: #fff;
        font-size: 30px;
        margin: 18px 0px;
        font-weight: 400;
    }
    
}

/* === header section end ======= */

/* === service section start ======= */
.service-section{
    background: #f5f5f5;
    padding: 50px 0px;
}
.service-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
img{
    max-width: 100%;
}
/* ======== service sction responsive style here ===== */
@media only screen and (max-width: 768px){
    .container{
        width: 100%;
         
    }
    .service-content{
        grid-template-columns: 1fr;
    }

}
/* ==== service section end ==== */
/* ==== product section start ===== */
.product-section{
    padding: 50px 0;
}
.product-title{
    text-align: center;
    padding-bottom: 50px;
}
.product-title h1{
    font-size: 40px;
}
.product-title p{
    margin: 10px 0px;
}
.product-title span{
    color: #f28123;
}
.product-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.card{
    box-shadow: 1px 2px 20px rgb(169 169 169);
    text-align: center;
    padding: 40px;
    transition: .5s;
}
.card:hover{
    box-shadow: none;
}
.card img{
    width: 250px;
}
.card P{
    margin: 12px 0px;
}
/*  === product section responsive style here === */
@media only screen and (max-width: 768px) {
    .product-title h1{
    font-size: 30px;
}
    .product-content{
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
}
/* === our product section end ======= */
/* === deal of the month section start  */
.dealOfTheMonth-section{
    background: #F5F5F5;
    height: 600px;
    padding: 50px 0px;
}
.dealOfTheMonth-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.dealOfTheMonth-text span{
    color: #f28123;
}
.dealOfTheMonth-text h1{
    font-size: 40px;
    margin-top: 5px;
}
.dealOfTheMonth-text h3{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 15px;
}
.offer .box-1{
    width: 90px;
    height: 80px;
    border: 2px solid #f28123;
    text-align: center;
    margin-top: 15px;
    margin-left: 10px;
    right: 10px;
    position: relative;
    margin-bottom: 20px;
}
.box-1 .span{
    color: #f28123;
    margin-top: 12px;
}
.offer{
    display: flex;
}

/* deal of the month section responsive here === */
@media only screen and (max-width:768px) {
    .dealOfTheMonth-content{
        display: grid;
        grid-template-columns:1fr;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
    .dealOfTheMonth-section{
        height: 100%;
    }.dealOfTheMonth-text{
        text-align: center;
    }
    .offer{
        justify-content: center;
    }
}
/* ========== deal of the month section doen  */
/* ========= review section start here =========== */
.review-section{
    height: 500px;
    padding: 50px 0px;
    /* padding: 80px 0px 50px 0px; */
}
.review{
    text-align: center;
    position: relative;
    top: 130px;
}
.review img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.review h2{
    margin: 10px 0px;
}
.review h4{
    margin-bottom: 10px;
    color: #999999;
}
.review p{
    width: 60%;
    margin: auto;
    line-height: 30px;
    font-style: italic;
    font-size: 19px;
    color: #999999;
}
/* ==== review section done ==== */
/*  === fruitkha section start */
.fruitkha-section{
    height: 400px;
    margin: 100px 0px;
    margin-bottom: 50px;
}
.fruitkha-content{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
}
/* .fruitkha-img img{
    z-index: 1;
    position: relative;
}
.fruitkha-img img::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(52, 124, 153, 0.753);
    z-index: -1;
    border-radius: 20px;

} */
 
.fruitkha-text .span{
    font-size: 18px;
    color: #999999;
}
.fruitkha-text h1{
    font-size: 40px;
}
.fruitkha-text p{
    line-height: 25px;
    margin: 15px 0px;
}
.ft-color{
    color: #f28123;
}

/* fruitkha section responsive start here */

@media only screen and (max-width: 768px) {
    .fruitkha-section{
        height: 100%;
    }
    .fruitkha-content{
        grid-template-columns:1fr;
        grid-gap: 40px;
    }
    .fruitkha-text{
        text-align: center;
    }
    
}
/* ==== fruiutkha section end === */
/* === discount section start ==== */
.discount-section{
    background-image: url(./image/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    padding: 100px 0px;
    margin-bottom: 50px;
}
.discount-text h1{
    font-size: 50px;
    font-weight: 700;
}
.sale{
    display: flex;
    margin-top: 20px;
}
.sale .fitthi strong{
    font-size: 50px;
    margin: 0px 10px;
}
.sale p{
    font-size: 23px;
}
.fitthi span{
    font-size: 22px;
}
/* === discount section responsive start === */
@media only screen and (max-width: 768px) {
    .discount-section{
        background-image: none;
        height: 100%;
        background: #F4F4F4;
        text-align: center;
         
    }
    .discount-text h1{
        font-size: 40px;
        font-weight: 700;
    }
    .sale{
        justify-content: center;
        margin-top: 30px;
    }
}
/*  ==== discount section end ==== */